body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 10px; /* Tambahkan padding untuk perangkat mobile */
    box-sizing: border-box; /* Pastikan padding tidak mempengaruhi ukuran */
}

.container {
    background-color: #ffffff;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%; /* Memastikan lebar 100% untuk perangkat mobile */
    max-width: 400px; /* Maksimal lebar untuk tampilan desktop */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff5722; /* Warna cerah untuk judul */
    cursor: pointer; /* Menunjukkan bahwa teks dapat ditekan */
}

.input-file {
    margin: 20px 0;
    padding: 10px;
    border: 2px solid #ff5722; /* Warna cerah untuk border */
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.button {
    background-color: #ff5722; /* Warna cerah untuk tombol */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #e64a19; /* Warna lebih gelap saat hover */
}

.result {
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}
